[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pkosGit
[access "refs/for/refs/*"]
	read = group user/pkosGit
	push = group user/pkosGit
	label-Code-Review = -2..+2 group user/pkosGit
	label-Verified = -1..+1 group user/pkosGit
	rebase = group user/pkosGit
	removeReviewer = group user/pkosGit
	submit = group user/pkosGit
[access "refs/heads/*"]
	read = group user/pkosGit
	create = group user/pkosGit
	push = +force group user/pkosGit
	pushMerge = group user/pkosGit
[access "refs/tags/*"]
	push = group user/pkosGit
	push = +force group user/pkosGit
